## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
app_cat = application_df.dtypes.index.tolist()
application_df[app_cat].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 5)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

# X shape/ input feature/columns is 
hidden_node1 = 100
hidden_node2 = 100
# Add a third hidden layer
hidden_node3 = 50


nn_model_1 = tf.keras.models.Sequential()

# First hidden layer
nn_model_1.add(tf.keras.layers.Dense(units=hidden_node1, activation='relu', input_dim=input_features))

# Second hidden layer
nn_model_1.add(tf.keras.layers.Dense(units=hidden_node2, activation='tanh'))

# Third hidden layer
nn_model_1.add(tf.keras.layers.Dense(units=hidden_node3, activation='tanh'))

# Output layer
nn_model_1.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model_1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 50)                5050

 dense_3 (Dense)             (None, 1)                 51

=================================================================
Total params: 19,601
Trainable params: 19,601
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn_model_1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [15]:
# Train the model
fit_model_1 = nn_model_1.fit(X_train_scaled, y_train, epochs=35)

Epoch 1/35
804/804 [==============================] - 3s 3ms/step - loss: 0.5668 - accuracy: 0.7208
Epoch 2/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5558 - accuracy: 0.7279
Epoch 3/35
804/804 [==============================] - 3s 4ms/step - loss: 0.5526 - accuracy: 0.7289
Epoch 4/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7307
Epoch 5/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7306
Epoch 6/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7324
Epoch 7/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7321
Epoch 8/35
804/804 [==============================] - 3s 4ms/step - loss: 0.5461 - accuracy: 0.7329
Epoch 9/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7343
Epoch 10/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7336
Epoch 11/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7343
Epoch 12/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7359
Epoch 13/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7327
Epoch 14/35
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 15/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7353
Epoch 16/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7346
Epoch 17/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 18/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7349
Epoch 19/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7353
Epoch 20/35
804/804 [==============================] - 3s 4ms/step - loss: 0.5395 - accuracy: 0.7365
Epoch 21/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7369
Epoch 22/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 23/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7362
Epoch 24/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7360
Epoch 25/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7380
Epoch 26/35
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7382
Epoch 27/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 28/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7377
Epoch 29/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7386
Epoch 30/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7383
Epoch 31/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7391
Epoch 32/35
804/804 [==============================] - 3s 4ms/step - loss: 0.5370 - accuracy: 0.7381
Epoch 33/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7383
Epoch 34/35
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7380
Epoch 35/35
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7374

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model_1.evaluate(X_test_scaled,y_test,verbose=2)
print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

268/268 - 1s - loss: 0.5578 - accuracy: 0.7277 - 516ms/epoch - 2ms/step
Loss: 0.5577623248100281, Accuracy: 0.7276967763900757

In [23]:
# Export our model to HDF5 file
nn_model_1.save('../h5_files/AlphabetSoupCharity_model_4.h5')

In [24]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [25]:
# Export our model to HDF5 file
nn_model_1.save('/content/gdrive/My Drive/h5_files/AlphabetSoupCharity_model_4.h5')

In [26]:
#Check the location where the ckpt files were saved.
import os
print( os.getcwd() )
print( os.listdir('/content/gdrive/My Drive/h5_files') )

/content
['AlphabetSoupCharity_model_1.h5', 'AlphabetSoupCharity_model_3.h5', 'AlphabetSoupCharity_model_4.h5']

In [28]:
# Export our model to HDF5 file
#Finally download the file
from google.colab import files
files.download( "/content/gdrive/My Drive/h5_files/AlphabetSoupCharity_model_4.h5" )